<footer>
    <div>
        <a href="https://www.virginia.edu" class="logo-footer" title="University of Virginia Home">
            <img src="/assets/images/logos/UVA-logo-footer.svg" alt="University of Virginia">
        </a>
    </div>
    <div>
        <p>
            <a href="https://www.fm.virginia.edu">Facilities Management</a>
        </p>
        <p>1450 Leake Dr, P.O. Box 400726</p>
        <p>Charlottesville, VA 22904-4726</p>
    </div>
    <div>
        <p><span>PHONE</span> 434-243-3414</p>
        <p><span>EMAIL</span> <a href="mailto:fm-apprenticeship@virginia.edu">fm-apprenticeship@virginia.edu</a></p>
        <p>Maintained by <a href="mailto:fmwebmaster@virginia.edu">webmaster</a></p>
    </div>
    <div>
        <ul>
            <li>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <a href="https://www.facebook.com/UVAApprentice/" class="social-link">Facebook</a>
            </li>
            <li>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a href="https://twitter.com/UVAApprentice" class="social-link">@UVAApprentice</a>
            </li>
            <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a href="https://www.instagram.com/uvaapprentice/" class="social-link">Instagram</a>
            </li>
            <li>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a href="https://twitter.com/UVAFM" class="social-link">@UVAFM</a>
            </li>
            <li>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a href="https://twitter.com/BernietheBee" class="social-link">@BernietheBee</a>
            </li>
        </ul>
    </div>
    <p>&copy; <span id="currentYear"></span></p>
</footer>
