<div class="wrap-nav">
    <nav>
        <div>
            <button type="button" class="mobile-nav-toggle"></button>
            <ul class="nav-list">
                <li>
                    <a href="index">Home</a>
                </li>
                <li>
                    <a href="curriculum">Curriculum</a>
                </li>
                <li>
                    <a href="application">Application Process</a>
                </li>
                <li>
                    <a href="faqs/">FAQs</a>
                </li>
                <li>
                    <a href="news">News</a>
                </li>
                <li>
                    <a href="council">Apprenticeship Council</a>
                </li>
                <li>
                    <a href="meettheteam">Meet the Team</a>
                </li>
            </ul>
        </div>
    </nav>
</div>