<div class="wrap-nav">
    <nav role="navigation">
        <div>
            <button type="button" class="mobile-nav-toggle"></button>
            <ul class="nav-list" role="menubar">
                <li role="presentation">
                    <a href="index.html" role="menuitem">Home</a>
                </li>
                <li role="presentation">
                    <a href="curriculum.html" role="menuitem">Curriculum</a>
                </li>
                <li role="presentation">
                    <a href="application.html" role="menuitem">Application Process</a>
                </li>
                <li role="presentation">
                    <a href="faqs.html" role="menuitem">FAQs</a>
                </li>
                <li role="presentation">
                    <a href="news.html" role="menuitem">News</a>
                </li>
                <li role="presentation">
                    <a href="council.html" role="menuitem">Apprenticeship Council</a>
                </li>
                <li role="presentation">
                    <a href="meettheteam.html" role="menuitem">Meet the Team</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href=""></li>
    </ul>
</nav> -->